<div class="container">
    <div>{{goods.name}}</div>
    <div>{{goods.description}}</div>
    <div>{{goods.cost}}</div>
    <div><img src="/images/{{goods.image}}" alt="{{goods.name}}"></div>

    <button class="button-primary addToCart" data-goods_id="{{goods.id}}">В корзину</button>
</div>